# Gradle
*.iml
.gradle

# Android
/local.properties

# Android Studio / IntelliJ IDEA
/.idea/

# macOS
.DS_Store

# Build
/build
/captures
.externalNativeBuild
.cxx
app/release/**
app/build/**
/.kotlin
/tmp_log
